@{ 

}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to .NET Core</title>
    <link rel="stylesheet" href="~/styles.css" />
</head>
<body>
    <h1>Time's Person of the Year</h1>
    <p>Please enter the search years</p>
    <form method="post">
        <label name="yearFrom">From</label>
        <input type="number" name="yearFrom" />

        <label name="YearTo">To</label>
        <input type="number" name="yearTo" />
        
        <button type="submit">Search</button>
    </form>

</body>

</html>
