body > header > h1 {
    line-height: 100px;
    font-size: 25px;
}

body > header > img {
    width: 300px;
    height: auto;
}

body > main > form, input, button {
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

    body > main > form > button {
        background-color: #555555;
        border: none;
        color: #ffffff;
        padding: 5px;
    }

body > main > a {
    background-color: #555555;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin-bottom: 25px;
}

    body > main > a:hover {
        background-color: #555555;
        text-decoration: none;
        padding: 5px;
    }

    body > main > a:active {
        background-color: #555555;
        color: #ffffff;
        text-decoration: none;
        padding: 5px;
    }

    body > main > a:visited {
        background-color: #555555;
        color: #ffffff;
        text-decoration: none;
        padding: 5px;
    }

body > main > table, th, td {
    border: 1px solid black;
}
